.header__lang-link {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.15;
}

.header__lang-link:hover {
  opacity: 0.8;
  transition: opacity ease-out 0.4s;
}

@media (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
  }
}
