@import url(./__logo/header__logo.css);
@import url(./__langs/header__langs.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);
@import url(./__lang-item/header__lang-item.css);

.header {
  min-width: 280px;
  max-width: 1184px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
